.landing_page{
    min-height: 100vh;
    padding: 0;
    background: url('../landing_page_bg.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* margin-bottom: 10vh; */
}
.landing_page .cmp_branding{
    width: 100vw;
    /* margin-top: 5%; */
}
.landing_page .cmp_branding > div{
    width: 50%;
    color: white;
}
.landing_page .cmp_branding .cpm_name{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    text-align: center;
}
.landing_page .cmp_branding .cmp_tagline{
    text-align: center;
    letter-spacing: 5px;
    margin-top: -0.5rem;
}
.landing_page .cmp_description{
    width: 100vw;
    margin-top: 25vh;
}
.landing_page .cmp_description > div{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.landing_page .cmp_description > div > div{
    text-align: center;
    font-size: larger;
    letter-spacing: 3px;
    width: 80%;
}
.landing_page_btn_container{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    margin: 3vh 0;
}
.btn_1{
    font-size: large;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    cursor:pointer;
    border: 1px solid white;
}
.btn_2{
    font-size: large;
    color: rgb(32, 32, 32);
    text-decoration: none;
    padding: 20px 50px;
    background-color: aqua;
    cursor:pointer
}
.landing_page_end_image{
    width: 100vw;
    /* margin-top: 15vh; */
    padding: 0;
    background: linear-gradient(rgba(10,10,10,0) 0%,rgba(0,0,0,0.4) 30%, rgba(255,255,255,1));
}
.landing_page_end_image img{
    display: block;
    width: 100%;
    /* margin-bottom: 0; */
    padding: 0;
}
@media (max-width: 1100px){
    .landing_page{
        min-height: 100vh;
        padding: 0;
        background: url('../landing_page_bg_mobile.jpg') no-repeat;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* margin-bottom: 10vh; */
    }
    .landing_page .cmp_branding{
        width: 100vw;
        margin-top: 5vh;
    }
    .landing_page .cmp_branding > div{
        width: 100%;
        color: white;
    }
    .landing_page .cmp_branding .cpm_name{
        font-size: 2.5rem;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 5px;
        text-align: center;
    }
    .landing_page .cmp_branding .cmp_tagline{
        text-align: center;
        letter-spacing: 5px;
        margin-top: -0.5rem;
        font-size: 0.6rem;
        color: #c2c2c2;
    }
    .landing_page .cmp_description{
        width: 100vw;
        margin-top: 50vh;
    }
    .landing_page .cmp_description > div{
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .landing_page .cmp_description > div > div{
        text-align: center;
        font-size: larger;
        font-size: 1rem;
        letter-spacing: 3px;
        width: 80%;
    }
    .landing_page_btn_container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 3vh 0;
    }
    .landing_page_end_image{
        width: 100vw;
        /* margin-top: 5vh; */
        padding: 0;
        background: linear-gradient(rgba(10,10,10,0) 0%,rgba(0,0,0,0.4) 30%, rgba(255,255,255,1));
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 10vh;
    }
}