body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


.block{
    width: 400px;
    height: 200px;
    margin: 50px;
}

/* .container{
    margin-top: 200px;
} */

/* Services */
/* .service_pages{
  width: 100%;
  height: 100%;
  background-color: aqua;
  border: 1px solid red;
} */





/* Clients */
 /*TODO: clean it all up, finish flex, add aesthetics, icons, redefine to be relative to vh-vw, maybe rework v2 variant using scss and frames and real transitions? */

 
/* /TODO: animate copy main transition style for info/
.infocardContainer #textbois #hotlinks *:hover {
  
  
} */




/* Contact Us */




/* footer */
