body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#landing_page{
    background: url('../landing_page_bg.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.block{
    width: 400px;
    height: 200px;
    margin: 50px;
}

/* .container{
    margin-top: 200px;
} */

/* Services */
.service_pages{
  width: 100%;
  height: 100%;
  background-color: aqua;
  border: 1px solid red;
}





/* Clients */
 /*TODO: clean it all up, finish flex, add aesthetics, icons, redefine to be relative to vh-vw, maybe rework v2 variant using scss and frames and real transitions? */

.infocardContainer * {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
}
h2 {
  font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
}
header {
  height: 2em;
  background-color: #111122;
  margin: 0 0 0 0;
  padding: auto;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
  color: white;
}
a {
  text-decoration: none;
}
a:visited {
  color: #555566;
}
a:hover {
  text-decoration: underline;
}
.infocardContainer {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background: rgb(196, 173, 173);
  background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
  transition: all 500ms ease-in;
  transition-delay: 1s;
  margin: auto;
  margin-top: 100px;
  --margin-top: 100px;
}
.infocardContainer:hover {
  width: 500px;
  border-radius: 100px 10px 100px 100px;
  transition: all 1s ease-out;
}

.infocardContainer div {
  text-color: white;
  flex-shrink: 1;
  width: 100%;
  --background-color: green;
}
.infocardContainer div * {
  display: flex;
  --flex: inherit;
  overflow: hidden;
  text-overflow: hidden;
  --background-color: yellow;
  color: white;
  white-space: nowrap;
  width: 0;
  height: auto;
  transition: all 450ms ease-in;
  transition-delay: 1s;
}
.infocardContainer:hover div *{
  --background-color: purple;
  display: flex;
  visibility: visible;
  transition: all 1s ease-out;
  transition-delay: 500ms;
  width: 100%;
  height: auto;
}

.infocardContainer #main, .infocardContainer #main img{
  --background-color: red;
  height: 200px;
  width: 200px;
  padding-right: 10px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.infocardContainer #main img{
  height: 180px;
  width: 180px;
  transition: none;
  display: float;
  position: relative;
  border: 10px solid white;
  margin: 0 0 0 0; padding: 0 0 0 0;
}
.infocardContainer #textbois {
  position: relative;
}
.infocardContainer #textbois #hotlinks {
  max-width: 60%;
  max-height: 30px;
  
  --background-color: white;
  position:absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
}
.infocardContainer #textbois #hotlinks * {
  background-color: white;
  max-width: 30px;
  --margin: 0 1px 0 1px;
  border-radius: 25px;
}
/TODO: animate copy main transition style for info/
.infocardContainer #textbois #hotlinks *:hover {
  
  
}




/* Contact Us */
.container {
	/* min-width: 700px;
	min-height: 350px; */
  margin: auto;
  width: 90%;
  height: 70%;
	border-radius: 20px;
	position: relative;
	-webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
  border: 1px solid green;
  /* overflow: hidden; */
}

.side {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	/* padding: 20px 50px; */
	color: #fff;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
  border: 1px solid green;
}
.content {
	transform: translatez(70px) scale(0.8);
	line-height: 1.5em;
}
.content h1 {
	position: relative;
}
.content p {
	margin-top: 50px;
	line-height: 2em;
}
.content h1:before {
	content: "";
	position: absolute;
	bottom: -20px;
	height: 3px;
	background-color: #3e3;
	width: 70px;
	left: 50%;
	transform: translateX(-50%);
}
.cmp{
  transform: translatez(100px) scale(0.8);
}
.cmp div:before{
  content: "";
	position: absolute;
	bottom: 10rem;
	height: 0.3rem;
	background-color: white;
	width: 10rem;
	left: 50%;
	transform: translateX(-50%);
  border-radius: 20px;
}
.front {
	z-index: 2;
	/* background-size: 100% 100%; */
	background-size: cover;
	/* background-image: url(../Images/contact-bg.jpg); */
  /* background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
  /* background-color: rgba(0,0,0,0.7); */
  /* background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg); */

}
.back {
  /* max-width: 40vw;
  max-height: 50vh; */
  width: 100%;
	height: 100%;
	background-color: #333;
	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
  background-color: rgba(0,0,0,0.7);
	background: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg);
  background-size: cover;
  /* overflow: hidden; */
}
.container:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
form {
	text-align: left;
}
.back h1 {
	margin: 0;
}
form label,
form input {
	display: block;
}
form input,
form textarea {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #444;
	padding: 5px;
	width: 100%;
	color: #fff;
}
form label {
	margin: 15px 0;
}
form input[type="submit"] {
	display: block;
	width: auto;
	margin: 10px auto;
	padding: 5px 10px;
	border: 3px solid #555;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}
/* my button style  */
.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #fff;
	transition: 0.35s ease-in-out;
	position: fixed;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #fff;
	color: #122;
}



.hr_scroll{
    /* transform: rotateZ(-90deg) ; */
    overflow-y:auto;
    overflow-x:hidden;
    width: 90vh;
    min-height: 70vw;
    display: flex;
    justify-content: center;
    align-items:center; 
    /* transform-origin:right top; */
    
}
/* .hr_scroll > div{
    transform: translateY(2000px); */
    /* height: 700vw;   */
    /* width: 90vh;
    background-color: gray;
    border: 10px solid black;
} */
.hr_scroll > div {
    /* transform:  rotateZ(90deg); */
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    /* transform-origin: right top; */

}

.form > *{
    margin: 5px 0;;
    /* border: 1px solid red; */
}
.frm-ip :focus{
    outline: none;
}

::placeholder{
    color: rgb(97, 74, 74);
    letter-spacing: 2PX;
}



.no_scroll_bar::-webkit-scrollbar {
    display: none;
}
.no_scroll_bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



/* footer */
.row{
    width: 100%;
    height: 50vh;
  
  
  }
  .footer{
    background-color: black;
    color: white;
    height: 60vh;
    background-color: black;
  
  }
  .fa {
    
    padding: 20px 0px 20px 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #000000;
    color: white;
    font-size: x-large;
    /* margin-left: 35px; */
  }
  
  /* Twitter */
  .fa-twitter {
    background: #000000;
    color: white;
    /* margin: 1px 2px 2px -11px; */
  
  }
  .fa-linkedin{
    background: #000000;
    color: white;
    /* margin: 1px 2px 2px -15px; */
  }
  .fa-instagram{
    background: #000000;
    color: white;
    /* margin: 1px 2px 2px -11px; */
  
  }
  .column .supp_f a{
    display: block;
    margin:15px 15px 15px 0px;
     text-decoration: none;
     color: white;
     font-size: 16px;
     font-family: 'Lato', sans-serif;
  }
  .column .supp_f a:hover{
  color: gray;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .column .sign_up:hover{
    color: #000000;
  }
