
.split{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

}
.split .split_subject{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    letter-spacing: 5px;
    transform:rotateZ(-90deg);
}
.split_right{
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;

}
.split .split_right_subject{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    letter-spacing: 5px;
    transform:rotateZ(90deg);
}
.split .split_body{
    width: 90%;
    height: 100%;
}
.split .split_body .split_heading{
    width: 100%;
    height: 10%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    
}
.split .split_body .split_content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #111111; */
}
.split .split_body .split_content_isometric{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.split .split_body .split_content_isometric img{
    width: 100%;
    height: 100%;
}
.split .split_body .split_content_card_container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container_tech{
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
}




/* Custom Card */
.custom_card{
    width: 20vw;
    height: 30vh;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.custom_card:nth-child(n+3){
    margin-bottom: -5vh;
}
.face_up{
    position: relative;
    width: 100%;
    height: 70%;
    background-color: aqua;
    transform: translateY(30%);
    z-index: 3;
    transition: 0.5s;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card_heading{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.face_down{
    width: 100%;
    height: 30%;
    transform: translateY(-50%);
    z-index: 1;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.custom_card:hover .face_up{
    transform: translateY(0);
    background-color: white;
    
    
}
.custom_card:hover .card_heading{
    color: aqua;
}
.custom_card:hover .face_down{
    transform: translateY(0);
    /* background-color: #ff0057; */
    background: linear-gradient(45deg,#D80FE9,#3AA6E7);
    /* color: white; */
    
}




.backend .split_content{
    flex-direction: row-reverse;
}
.backend .split_content .split_content_isometric{
    width: 50%;
}
.db .split_content .split_content_card_container{
    background: linear-gradient(to right,#010A59,#042C8E);
}

.api .split_content .split_content_card_container{
    background: linear-gradient(to bottom,#22186E , #0F054C);
}
.api .split_content{
    flex-direction: row-reverse;
}

.cloud .split_content .split_content_card_container{
    background: linear-gradient(to right,#020959,#2066E8);
}
.cloud .split_content .split_content_isometric{
    width: 60%;
}
.fsd .split_content .split_content_card_container{
    background: linear-gradient(to right,#010753,#000655);
}
.fsd .split_content .split_content_isometric{
    width: 50%;
}



@media (max-width: 400px){
    .split{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .split_right{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        /* flex-direction: column; */
        justify-content: space-around;
        align-items: center;

    }
    .split .split_subject{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform:rotateZ(0deg);
        font-size: 300%;
        letter-spacing: 5px;
        
    }
    .split .split_right_subject{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 500%;
        letter-spacing: 5px;
        transform:rotateZ(0deg);
    }
    .split .split_body{
        width: 100%;
        height: 90%;
    }
    .split .split_body .split_heading{
        width: 100%;
        height: 5%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
        
    }

    .split .split_body .split_content{
        width: 100%;
        height: 95%;
        align-items: center; 
        /* background-color: #111111; */
        display: block;
    }
    .split .split_body .split_content_isometric{
        height: 35%;
        width: 100%;
        display: block;
        border: none;
        /* border: 1px solid red; */
    }
    .split .split_body .split_content_isometric img{
        width: 100%;
        height: 100%;
    }
    .split .split_body .split_content_card_container{
        width: 100%;
        height: 65%;
        /* height: 500vh; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
        border: none;
    }
    

    .custom_card{
        width: 45vw;
        height: 20vh;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }
    .custom_card:nth-child(n+3){
        margin-bottom: 10vh;
    }
    .face_up{
        position: relative;
        width: 100%;
        height: 60%;
        background-color: aqua;
        transform: translateY(30%);
        z-index: 3;
        transition: 0.5s;
        background-color: #111;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .card_heading{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face_down{
        /* position: relative; */
        width: 100%;
        height: 40%;
        transform: translateY(-50%);
        z-index: 1;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .custom_card:hover .face_up{
        transform: translateY(0);
        background-color: white;
        
    }
    .custom_card:hover .card_heading{
        color: aqua;
    }
    .custom_card:hover .face_down{
        transform: translateY(0);
        background-color: #ff0057;
        /* background-color:#333 */
        
    }



    .db .split_content .split_content_card_container{
        background: linear-gradient(to bottom,#010D5F,#042C8E);
    }
    
    .api .split_content .split_content_card_container{
        background: linear-gradient(to bottom,#0F054C,#042C8E);
    }

    .cloud .split_content .split_content_card_container{
        background: linear-gradient(to right,#021267,#020959);
    }
    .fsd .split_content .split_content_card_container{
        background: linear-gradient(to right,#021267,#000655);
    }

    
}
/* .db .split_content .split_content_card_container{
    background: linear-gradient(to right,#010C5C,#042C8E);
} */