<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Mail</title>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
    (function() {
    emailjs.init("user_NSzCGaTPEuYA4cjF8nAF9");
    })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // generate a five digit number for the contact_number variable
                this.contact_number.value = Math.random() * 100000 | 0;
                var params = {
                    from_name : document.getElementById('from_name').value,
                    from_email : document.getElementById('from_email').value,
                    message : document.getElementById('message').value,

                }
                
                // these IDs from the previous steps
                emailjs.send('service_vyqi1jd', 'template_gvspoqf',params)
                    .then(function() {
                        console.log('SUCCESS!');
                    }, function(error) {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>

</head>
<body>
    <form id="contact-form">
        <input type="hidden" name="contact_number">
        <label>Name</label>
        <input type="text" id="from_name">
        <label>Email</label>
        <input type="email" id="from_email">
        <label>Message</label>
        <textarea id="message"></textarea>
        <input type="submit" value="Send">
    </form>

    <!-- <script type="text/javascript">
        Email.send({
            Host : "smtp.yourisp.com",
            Username : "username",
            Password : "password",
            To : 'them@website.com',
            From : "you@isp.com",
            Subject : "This is the subject",
            Body : "And this is the body"
        }).then(
        message => alert(message)
        );
    </script> -->
</body>
</html>
